.App {
  text-align: center;
}

.box{
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #B4DC37;
}

.container{
  display: flex;
  flex-direction: row;
  align-items:center;
}

.h-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B9EDEC;
  width: 500px;
  height: 60px;
  cursor: pointer;
  border: none;
}

.main-grid{
  height: 500px;
  width: 500px;
}

.v-btn{
  height: 500px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B9EDEC;
  cursor: pointer;
  border: none;
}


.wrapper-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}